<div class="row top-toolbar">
    <div class="col-md-3 pull-right">
        <div class="pull-right">
            <!--<button class="btn btn-xs btn-default">Delete Selected</button>-->
            <button class="btn btn-xs btn-success" ng-click="clickAddNew()">Add New</button>
        </div>
    </div>
</div>
<div class="row top-sp-md">
    <div class="col-md-12">
        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Group Id</th>
                        <th>Group Name</th>
                        <th>Group Buying Power</th>
                        <th>Member Buying Power</th>
                        <th>Approval Requirement</th>
                        <th>is Default Group</th>
                        <th width="1%"></th>
                        <th width="1%"></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in allGroups">
                    <td>{{group.groupId}}</td>
                    <td>{{group.groupName}}</td>
                    <td>{{group.groupBuyingPower}}</td>
                    <td>{{group.userDefaultBuyingPower}}</td>
                    <td>{{group.isApprovalRequred}}</td>
                    <td>{{group.isDefaultGroup}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs" data-toggle="modal" title="Assign Entitlement"
                                ng-click="addEntitlement()"><i class="fa fa-plus"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#branchModel"
                                title="Edit Branch Details" ng-click="editDetails(group)"><i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addGroupModal.html" style="margin-left:10%;">
    <div class="modal-header">
        <button type="button" class="close" ng-click="modalOptions.close()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Add Groups</h4>
    </div>
    <form role="form" name="frmemp" ng-submit="modalOptions.addGroup()" autocomplete="off">
        <div class="row top-toolbar">
            <div class="col-md-9">
            </div>
            <div class="col-md-3 pull-right">
                <div class="pull-right">
                    <!--<button class="btn btn-xs btn-default"><i class="fa fa-angle-left"></i> Go back</button> -->
                    <a class="btn btn-xs btn-default" ng-click="modalOptions.resetForm()">Reset</a>
                    <!--<button class="btn btn-xs btn-danger">Delete</button> -->
                    <button class="btn btn-xs btn-success" type="submit" ng-disabled="imageUploadingInProgress">Save
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Group Details</div>
                        <div class="panel-body" ng-init="newGroup.corporateId=1">
                            <div class="form-group">
                                <label for="groupName">Group Name<span class="required">*</span></label>
                                <input type="text" class="form-control" ng-model="newGroup.groupName"
                                       id="groupName" placeholder="Eg:HR Group" required>
                            </div>
                            <div class="form-group">
                                <label for="groupBuyingPower">Group Buying Power (Rs.)<span class="required">*</span></label>
                                <input type="number" class="form-control" ng-model="newGroup.groupBuyingPower"
                                       id="groupBuyingPower" placeholder="Eg:4000">
                            </div>
                            <div class="form-group">
                                <label for="empBuyingPower">Member Buying Power<span class="required">*</span></label>
                                <input type="number" class="form-control" ng-model="newGroup.empBuyingPower"
                                       id="empBuyingPower" placeholder="Eg:400" required>
                            </div>
                            <div class="form-group">
                                <label for="isApprovalRequired">is Approval Required<span class="required">* </span></label>
                                <input id="isApprovalRequired" ng-model="newGroup.isApprovalRequired" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="editGroupModal.html" style="margin-left:10%;">
    <div class="modal-header">
        <button type="button" class="close" ng-click="modalOptions.close()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Edit Group</h4>
    </div>
    <form role="form" name="frmemp" ng-submit="modalOptions.editGroup()" autocomplete="off">
        <div class="row top-toolbar">
            <div class="col-md-9">
            </div>
            <div class="col-md-3 pull-right">
                <div class="pull-right">
                    <!--<button class="btn btn-xs btn-default"><i class="fa fa-angle-left"></i> Go back</button> -->
                    <a class="btn btn-xs btn-default" ng-click="modalOptions.resetForm()">Reset</a>
                    <!--<button class="btn btn-xs btn-danger">Delete</button> -->
                    <button class="btn btn-xs btn-success" type="submit" ng-disabled="imageUploadingInProgress">Save
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Group Details</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="groupName">Group Name<span class="required">*</span></label>
                                <input type="text" class="form-control" ng-model="updateGroup.groupName"
                                       id="editGroupName" placeholder="Eg:HR Group" required>
                            </div>
                            <div class="form-group">
                                <label for="groupBuyingPower">Group Buying Power (Rs.)<span class="required">*</span></label>
                                <input type="number" class="form-control" ng-model="updateGroup.groupBuyingPower"
                                       id="editGroupBuyingPower" placeholder="Eg:4000">
                            </div>
                            <div class="form-group">
                                <label for="empBuyingPower">Member Buying Power<span class="required">*</span></label>
                                <input type="number" class="form-control" ng-model="updateGroup.empBuyingPower"
                                       id="editEmpBuyingPower" placeholder="Eg:400" required>
                            </div>
                            <div class="form-group">
                                <label for="isApprovalRequired">is Approval Required<span class="required">* </span></label>
                                <input id="editIsApprovalRequired" ng-model="updateGroup.isApprovalRequired" type="checkbox">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </form>
</script>

<script type="text/ng-template" id="entitlementModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="enModalOptions.close()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Assign Entitlement</h4>
    </div>
    <form role="form" name="frmemp" ng-submit="enModalOptions.addUpdateEntitlement()">
        <div class="row top-toolbar">
            <div class="col-md-9">
            </div>
            <div class="col-md-3 pull-right">
                <div class="pull-right">
                    <!--<button class="btn btn-xs btn-default"><i class="fa fa-angle-left"></i> Go back</button> -->
                    <a class="btn btn-xs btn-default" ng-click="modalOptions.resetForm()">Reset</a>
                    <!--<button class="btn btn-xs btn-danger">Delete</button> -->
                    <button class="btn btn-xs btn-success" type="submit" ng-disabled="imageUploadingInProgress">Save
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label></label>
                                    </div>
                                </div>
                                <!--<div class="col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="txtRoleDescription">Last Name</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Available Roles</div>
                        <div class="ent-tools">
                            <a class="btn btn-danger btn-xs"
                               ng-click="enModalOptions.addingItems(enModalOptions.roleLists,enModalOptions.assignRoles,true)">
                                Assign all <i class="fa fa-angle-double-right"></i></a>
                            <a class="btn btn-primary btn-xs"
                               ng-click="enModalOptions.addingItems(enModalOptions.roleLists,enModalOptions.assignRoles,false)">Assign
                                selected <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" ng-model="searchQueryAvailableRole" class="form-control">
                                <span class="input-group-btn">
                                    <a class="btn btn-default"><i class="fa fa-search"></i></a>
                                </span>
                            </div>
                            <ul class="ent feeds">
                                <li ng-if="enModalOptions.roleLists.length > 0" ui-draggable="true"
                                    drag="assignedFunction"
                                    on-drop-success="dropSuccessHandler($event,$index,assignedApplicationList)"
                                    ng-repeat="roles in enModalOptions.roleLists  | filter : {roleName:searchQueryAvailableRole} | orderBy:['+roleId']">
                                    <label class="clearfix">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-default">
                                                        <i class="fa fa-level-up fa-rotate-90"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{roles.roleId}}
                                                        {{roles.roleName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="check-dis">
                                                <input type="checkbox" ng-init='roles.cheked=false'
                                                       ng-model='roles.cheked'/>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <!-- <li  ng-if="assignedApplicationList.length == 0" ui-draggable="true" drag="assignedApplicationList" on-drop-success="dropSuccessHandler($event,$index,assignedApplicationList)">
                                     Drop here
                                 </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Assigned Roles</div>
                        <div class="ent-tools clearfix">
                            <div class="pull-right">
                                <a class="btn btn-danger btn-xs"
                                   ng-click="enModalOptions.removingItems(enModalOptions.roleLists,enModalOptions.assignRoles,true)"><i
                                        class="fa fa-angle-double-left"></i> Un-assing all</a>
                                <a class="btn btn-primary btn-xs"
                                   ng-click="enModalOptions.removingItems(enModalOptions.roleLists,enModalOptions.assignRoles,false)"><i
                                        class="fa fa-angle-left"></i> Un-assing seleted</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" ng-model="searchQueryAssignRole" class="form-control">
                                <span class="input-group-btn">
                                    <a class="btn btn-default"><i class="fa fa-search"></i></a>
                                </span>
                            </div>
                            <ul class="ent feeds" ui-on-Drop="onDrop($event,$data,assignedFunctionList)">
                                <li ng-if="enModalOptions.assignRoles.length > 0" ui-draggable="true"
                                    drag="assignedFunction"
                                    on-drop-success="dropSuccessHandler($event,$index,assignedApplicationList)"
                                    ng-repeat="role in enModalOptions.assignRoles  | filter : {roleName:searchQueryAssignRole} | orderBy:['+roleId']">
                                    <label class="clearfix">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-info">
                                                        <i class="fa fa-level-up fa-rotate-90"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{role.roleId}}
                                                        {{role.roleName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="check-dis">
                                                <input type="checkbox" ng-init='role.cheked=false'
                                                       ng-model='role.cheked'/>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <!-- <li  ng-if="assignedApplicationList.length == 0" ui-draggable="true" drag="assignedApplicationList" on-drop-success="dropSuccessHandler($event,$index,assignedApplicationList)">
                                     Drop here
                                 </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>